.text-center {
  text-align: center !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nowrap {
  white-space: nowrap;
}

.font-small {
  font-size: $small-font-size;
}
.color-dark {
  color: $color-primary-dark;
}
