.Selection {
  grid-area: Selection;
  display: grid;
  gap: 2rem 0;
  grid-template-rows: min-content auto;
}

.Rules {
  @include section_side;
  ol {
    padding-left: 3rem;
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
}

.Choices {
  @include section_side;
  padding-top: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 1rem;
  align-self: start;
}

.Bonus,
.Actions {
  &__box {
    display: flex;
  }
  &__img {
    cursor: pointer;
    width: 4rem;
    height: auto;
    border-radius: 100%;
  }
}

.Drivers {
  &__box {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    cursor: pointer;
    width: 7.5rem;
    height: auto;
    border-radius: 100%;
    outline: 2px solid gray;
    background-color: rgb(237, 235, 235);
  }
}

.Bonus,
.Actions,
.Drivers {
  height: min-content;
  padding-top: 1rem;
  h4 {
    margin-bottom: 1rem;
  }
}

.Drivers,
.Actions,
.Bonus {
  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.hold {
  border: 2px solid gray;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}
