.Side {
  grid-area: Side;
  display: grid;
  gap: 2vh 0;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'Message'
    'Chat';
}

.Message {
  @include section_side;
  grid-area: Message;
}

.Chat {
  @include section_side;
  grid-area: Chat;
}
