.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s ease;
    // position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    // text-shadow: 0 0.7rem 1rem black;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    display: inline-block;
    background-color: $color-white;
    color: $color-primary;
    line-height: 1.7rem;
    // &::after {
    //   background-color: $color-white;
    // }

    .expo {
      text-transform: lowercase;
    }
  }

  &--blue {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    color: $color-white;
    transition: all 0.2s ease;

    &-exit {
      padding: 1rem 1.5rem;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s ease;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    color: $color-primary-dark;
    transition: 0.25s all;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-left: 1rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: $color-primary-dark;
      transform: scaleX(0);
      transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform-origin: right;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    &::after {
      content: '';
      background-image: url('/img/fleche-bleu.svg');
      background-repeat: no-repeat;
      background-position: center left;
      display: inline-flex;
      position: relative;
      margin-left: 10px;
      height: 16px;
      width: 20px;
      transition: 0.25s all;
      align-items: center;
    }

    &:hover,
    &:focus {
      color: $color-primary-dark;
      &:before {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:after {
        background-image: url('/img/fleche-bleu.svg');
      }
    }

    &:active {
      color: $color-primary-dark;
      &:before {
        background: $color-primary-dark;
      }

      &:after {
        background-image: url('/img/fleche-bleu.svg');
      }
    }
  }
}

.no-upper {
  text-transform: none !important;
}
