.form {
  &__group {
    margin-bottom: 2.25rem;
    &--btn-send {
      margin-top: 3rem;
      box-sizing: inherit;
    }
  }

  &__input {
    font-family: inherit;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
      border-bottom: 3px solid $color-secondary-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-tertiary-darker;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button;
      display: inline-block;
      cursor: default;
      flex: 0 0 auto;
      align-self: stretch;
      user-select: none;
      opacity: 0;
      pointer-events: none;
      -webkit-pointer-events: none;
      -webkit-user-modify: read-only;
    }
  }

  &__label {
    font-size: $medium-font-size;
    font-weight: 700;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
  }

  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:focus + label {
      outline: 3px solid $color-primary;
      outline-offset: 3px;
      font-weight: 400 !important;
    }

    & + label {
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      font-weight: 400 !important;
    }
    & + label:hover {
      background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
      );
      font-weight: 400 !important;
      color: #fff;
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }

  &__user-photo {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}
