.form {
  &__group {
    margin-bottom: 2.25rem;
    &--btn-send {
      margin-top: 3rem;
      box-sizing: inherit;
    }
  }

  &__input {
    font-family: inherit;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
      border-bottom: 3px solid $color-secondary-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-tertiary-darker;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button;
      display: inline-block;
      cursor: default;
      flex: 0 0 auto;
      align-self: stretch;
      user-select: none;
      opacity: 0;
      pointer-events: none;
      -webkit-pointer-events: none;
      -webkit-user-modify: read-only;
    }
  }

  &__label {
    font-size: $medium-font-size;
    font-weight: 700;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
