.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: auto;
}

.loader-container img {
  display: inline-block;
  margin: auto;
  width: 200px;
  height: auto;
}

.loader {
  margin-top: 2rem;
  border: 5px solid transparent;
  border-top: 5px solid #1154c0;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
