@mixin section {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 7vh 2vw 7vh 2vw;
  background-color: white;
  height: fit-content;
  width: 100%;
  outline: #c3c3c3 solid 2px;
}

@mixin section_side {
  @include section;
  padding: 2.5vh 1vw 2.5vh 1vw;
}

@mixin section-dash {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  outline: #c3c3c3 solid 2px;
}

@mixin bg_team {
  &--red_bull {
    background: linear-gradient(
      135deg,
      #000b8d 0%,
      #1d19ac 70%,
      #e3451a calc(85% + 1px),
      #e3451a 100%
    );
  }

  &--ferrari {
    background: linear-gradient(
      135deg,
      #e31304 0%,
      #ef4f48 70%,
      #ffec00 calc(85% + 1px),
      #ffec00 100%
    );
  }

  &--mercedes {
    background: linear-gradient(
      135deg,
      #36466e 0%,
      #617090 70%,
      #45ebf6 calc(85% + 1px),
      #45ebf6 100%
    );
  }
}

@mixin bg_team_back {
  &--red_bull {
    background: linear-gradient(
      to right bottom,
      rgba(#000b8d, 0.95),
      rgba(#1d19ac, 0.95)
    );
  }

  &--ferrari {
    background: linear-gradient(
      to right bottom,
      rgba($color-f1, 0.95),
      rgba($color-f1-light, 0.95)
    );
  }

  &--mercedes {
    background: linear-gradient(
      to right bottom,
      rgba(#36466e, 0.95),
      rgba(#617090, 0.95)
    );
  }
}

@mixin bg_team_img {
  &--red_bull {
    background-image: url(https://www.formula1.com/content/dam/fom-website/teams/2022/red-bull-racing-logo.png.transform/2col/image.png);
  }

  &--ferrari {
    background-image: url(https://www.formula1.com/content/dam/fom-website/teams/2022/ferrari-logo.png.transform/2col/image.png);
  }

  &--mercedes {
    background-image: url(https://www.formula1.com/content/dam/fom-website/teams/2022/mercedes-logo.png.transform/2col/image.png);
  }
}
