.nav {
  display: flex;
  margin: 0 1.5rem;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--img {
      height: 5rem;
      width: 5rem;
      margin-right: 1rem;
      border: 3px solid $color-primary-dark;
      border-radius: 50%;
    }
    &--title {
      &:hover,
      &:active {
        text-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.481);
        transform: translateY(-2px);
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem 0 1rem 1rem;
  }

  &__link {
    &:link,
    &:visited {
      transition: all 0.2s ease;
      font-size: 1.5rem;
      display: inline-block;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover,
      &:active {
        cursor: pointer;
        text-shadow: 0 0.7rem 1rem black;
        transform: translateY(-2px);
      }
    }
  }

  &__profile {
    transition: all 0.2s ease;
    cursor: pointer;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    &--drop {
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-size: $small-font-size;
        margin-right: 0.5rem;
      }

      &-svg {
        font-size: $small-font-size;
      }
    }

    &:hover {
      text-shadow: 0 0.7rem 1rem black;
      transform: translateY(-2px);
    }
  }
}
