// FONCTIONNALITY
.card {
  cursor: pointer;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  z-index: 8000;
  height: 10rem;
  width: 10rem;

  &__side {
    font-size: 2rem;
    height: 10rem;
    width: 100%;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: $box-shadow-small;

    &--front {
      @include bg_team;
    }

    &--back {
      background-color: $color-white;
      transform: rotateY(180deg);
      color: $color-white;
      @include center_flex_h;
      text-align: center;
      padding: 0.5rem;

      & p {
        font-size: 1.2rem;
      }

      &-points {
        font-size: $default-font-size !important;
      }

      @include bg_team_back;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 10rem;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    @include bg_team_img;
  }

  &__heading {
    font-size: $default-font-size;
    font-weight: 300;
    text-align: right;
    color: $color-white;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    @include bg_team_back;
  }
}

#winner {
  width: 12rem;
  height: 12rem;
}

#side-winner {
  height: 12rem;
}

#heading-winner {
  top: 7rem;
}
