@mixin section {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 7vh 2vw 7vh 2vw;
  background-color: white;
  width: 100%;
}
@mixin section_side {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 2.5vh 1vw 2.5vh 1vw;
  background-color: white;
  width: 100%;
}

@mixin section_side_outline {
  border-radius: $border-radius;
  padding: 2.5vh 1vw 2.5vh 1vw;
  background-color: white;
  width: 100%;
  outline: gray solid 1px;
}
